// * TEXT
$text-primary: #161616;
$text-secondary: #525252;
$text-placeholder: #A8A8A8;
$text-on-color: $background;
$text-on-color-disabled: #8D8D8D;
$text-helper: #6F6F6F;
$text-error: #da1e28;
$text-inverse: $background;
$text-disabled: #16161640; //opacity 25

// * BUTTONS
$button-primary: #0f62fe;

// * LINKS  